body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.405);
    height: 100vh;
    overflow-x: hidden;
  }

/* ------PRODUCTS-------- */
.product{
    display: flex;
    justify-content: center;
}
.card-container {
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(4, 1fr);     
     
}
.img-wrapper {
    padding:3px;
    position: relative;
    display: inline-block;
    width: 132px;
    height: auto;
    cursor:pointer;
    background-color: #fff;
}
  .img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
}
.img-overlay {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    font-size:9pt;
    text-align: right;
    color: #fdfb14;
    text-shadow: 2px 2px 4px #000000;
}
  